.student_img{
    width:200px;
}

.card-title{
    text-align:center;
    background-color: #5faee2;
    color:#FFF !important;
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;    
    border-bottom: 1px solid #c2cfd6;
}