.task_head{
    margin: -19px 0px 0px 0px;
    border-bottom: 1px solid #ccc;
}
.task_head_left{
    padding-left: 16px;
}

.card-body-task p{
    margin:10px;
}

.time_re {
    float: right;
    margin-top:-35px;
}

.cal_img{
    width: 90px;
    margin: 40px;
    border: 1px solid #ccc;
}

.task_details{
    text-align: justify;
}

.staff_detils{
    float: right;
    line-height: 6px;
}

.task_banner{
    width: 400px;
}