.edit_form{
    margin:-20px;
}
.total_fee{
    text-align: right;
}

.text_last{
    width: 90%;
}

.txt_close{
    float: right;
    margin-top: -26px;
    color:#f00;
}
.total{
    float: right;
    font-weight: 600;
}