<style>
  .login_page {
    background-image: url("assets/img/dashboard/login_bg.jpg");
    background-size: 100% 100%;
  }
</style>
<ng4-loading-spinner> </ng4-loading-spinner>
<!-- <div id="test">
</div>

<div id="red"></div> -->

<div class="app flex-row align-items-center login_page">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="card-group">
          <div class="card p-4 login_card">
            <div class="card-body">
              <div class="card_text login_card_text">
                <h1>Login</h1>
                <p class="text-muted">Sign In to your account</p>
              </div>
              <form (submit)="loginUser($event)">
                <!-- <div class="input-group mb-4" style="margin-bottom: 18px!important;">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-graduation"></i></span>
                  </div>
                  <select class="form-control form-control" id="usertype" name="usertype">
                    <option value="0">Please select</option>
                    <option value="1">Admin</option>
                    <option value="2">Staff</option>
                    <option value="3">Student</option>
                  </select>
              </div> -->

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input type="text" class="form-control" placeholder="Username">
                </div>
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input type="password" class="form-control" placeholder="Password">
                </div>

                <div class="row">
                  <div class="col-6">
                    <button type="submit" class="btn btn-primary px-4">Login</button>
                  </div>
                  <div class="col-6 text-right">
                    <button type="button" class="btn btn-link px-0">Forgot password?</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>