
  .certi_img{
    width: 40px;
    border-radius: 41px;
    margin: 4px 10px 16px 2px;
    border: 1px solid #ccc;

  }

  .carosel_img img{
    height:290px;
  }
  
  .card-body h5{
    text-align:center;
  }
  
  .dashb_top_img{
    width: 208px;
    margin: 20px 5px;
  }
  
  .dash_progress{
    text-align:center;
    margin:5px;
  }
  
  .dash_progress .value{
  margin-bottom:5px;
  }
  
  .co_curricular img{ 
  border-radius:100px;
  }
  
  .bg_attendance{
    background:#7fa8bd;
  } 
  
  .tasks{
    border-right:1px solid #ccc;
  }
  
  .icons-list li{
    height: 70px;
    margin-left: -20px;
    margin-right: -20px;
    border-bottom: 1px solid #CCC;
  }

  .certification li{
    position: relative;
    height: 60px;
    vertical-align: middle;
    border-bottom: 1px solid #ccc;
    line-height: 25px;
  }
  .work_approve li .desc{
    border-bottom:none;
  }

  .work_approve li .actions{
    top: 7px;
  }

  .work_flow li .desc{
    border-bottom:none;
  }
  
  .work_flow li{
    height:56px;
  }
  
  .work_flow_bar{
    width:150px!important;
    top:18px!important;
  }
  
  .workflow_btn{
    width:100px!important;
  }
  
  .cal_img{
    width: 50px;
    border-radius: 41px;
    margin: -2px 14px 19px 4px;
    border: 1px solid #ccc;
  }

  .certification .certifi_title{
    margin-left:33px;
   
  }

 .certifi_title .title{
  margin-left:30px;
 }

 .icons-list .certification{
    position: relative;
    height: 70px;
    vertical-align: middle;
    /* border-bottom: 1px solid #ccc; */
    line-height: 25px;
 }

 .desc span{
  float: right;
  margin-top: -20px;
  font-size: 11px;
  font-weight: 500;
}

.desc i{
  width: 10px!important;
  height: 10px!important;
  line-height: 10px!important;
}

.attendance_bottom{
    margin: 13px;
    text-align: center;
    font-weight: 700;
    border-top: 1px solid #ccc;
}
.course_chart{
  float: right;
  margin-top: -35px;
}

.icons-list li .desc{
  border-bottom:none; 
}

.cal_img[_ngcontent-c0]{
  margin: 14px 18px 20px 5px;
}
 
.pagi_staff{
  margin-top: 9px;
  margin-bottom: -6px;
} 

.pagi_notifi{
  float: right;
  margin-top: 12px;
  margin-bottom: -25px;
}

.staff_events{
  min-height: 330px;
}

.staff_dash_icon{
  background: #1e91d5;
  border-radius: 20px;
}

.pagination{
  font-size: 11px;
  margin: 10px 2px 1px -30px;
}

.event_icon_letter{
  color: #FFF;
  font-weight: 800;
  font-style: initial;
}

.card {
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
       box-shadow: 0 10px 6px -6px #777;
}

.student_img{
  width:80px;
}

.dashb_top_img{
  border-radius: 100px;
}

.dash_progress{
  margin-top: 7px;
  margin-bottom: 18px;
  box-shadow: 0 8px 6px -6px #ccc;

}

.awards{
  text-align: center;
}


.staff_card{
  min-height: 390px;
}

.staff_timetable{
  padding:10px;
}

.staff_timetable th, .staff_timetable td{
  padding: 8px;
  font-size: 10px;
  text-align: center;
}

.staff_timetable tr:nth-child(even) {
  background-color: #f2f2f2
}
.staff_timetable thead{
background: #20a8d8;
color: #FFF;
}
.timetble_body{
  padding: 37px;
}

.btn-outline-secondary:hover {
  color: #ffffff;
  background-color: #0091d5;
  border-color: #0091d5;
}

.btn-outline-secondary{
background-color: #63c2de;
color: #FFF;
}

.workflow_btn{
  margin-top:20px;
}

.req_date{
  margin: 5px 4px 1px 5px;
}

.req_date span{
  color: #e83e8c;
}

.icons-list li .desc small{
  line-height: 16px;
}

.myrequest_list_design{
  margin: 10px;
  margin-top: 8px;
 }

 .myrequest_icon_letter{
  color: #FFF;
  font-weight: 800;
  font-style: initial;
}
.rib_img img{
  width: 52px;
  float: right;
  margin-right: -5px;
  margin-top: -11px;
}