.medal_img{
    width:150px;
    margin-left: 35px;
}

.medal_caresoul{
    text-align: center;
}

.rank{
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}

.tropy_img{
    width: 591px;
    margin-bottom: -15px;
}