.stu_reportcard{
    width:60px;
    text-align: center;
}

.stuent_name{
    position: absolute;
    font-size: 10px;
    text-align: center;
    font-weight: 600;
    margin: 0px 2px 3px -4px;
}

.attendance_per{
    text-align: center;
}

// .table_stureport td{ 
//     text-align:center;
     
// }