// .staff_dash_icon {
//   background: #1e91d5;
//   border-radius: 20px;
//   margin-left: 66px;
//   margin-top: 7px;
// }
// .staff_dash_icon_p {
//   background: #33cc33;
//   border-radius: 20px;
//   margin-left: 155px;
//   margin-top: 8px;
// }
// .staff_dash_icon_f {
//   background: #ff3300;
//   border-radius: 20px;
//   margin-left: 155px;
//   margin-top: 8px;
// }

// .row .dat {
//     font-size: 11px;
//     margin-left: -73px;
//     margin-right: -35px;
//     font-weight: bold;
// }

// .row .margin_of_event {
//   margin-left: -73px;
//   margin-right: 25px;
//   font-weight: bold;
// }

// .margin_of_event {
//   margin-left: -15px;
//   margin-right: -60px;
// }

// .icons-list li {
//   height: 60px;
//   margin-left: -22px;
//   margin-right: -21px;
//   border-bottom: 1px solid #ccc;
// }
// .event_icon_letter {
//   color: #fff;
//   font-weight: 800;
//   font-style: initial;
// }

.margin_of_event{
  margin-left:-50px;
}

.status_on{
  padding: 20px 5px 10px 5px;
    background: #90ed7d;
}

.status_off{
  padding: 20px 5px 10px 5px;
    background: #f86c6b;
}

.event_icon_letter{
  text-align: center;
}

.table{
  border:1px solid #ccc;
}